<div class="banks">
  <span class="title-index">Escolha o Banco</span>
  <div class="banks-image">
    <a href="/banco-brasil"> <img src="images/logo_bb.png"> </a>
    <a href="/banco-itau"> <img src="images/logo_itau.png"></a>
  </div>
</div>