<div style="text-align: center;">
  <h1 class='font-size:1.4px;margin-bottom:10px;'>
    Banco do Brasil
  </h1>
  <br /><br />
  <form id="formPlanilha" action='' method='post' enctype='multipart/form-data'>
      <input type='file' name='file' accept='.xls, .xlsx' required>
      <br /><br />
      <br /><br />
      <input type='submit' style="background-color:#060; color: #fff; padding: 5px 15px; cursor: pointer" 
          value='Gerar Arquivo de Pagamentos - CNAB 240' >
  </form>
</div>